/* Add global.css file here */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add styles to the main content and body */

:root {
  --font-geist-sans: 'Geist Sans', sans-serif;
  --font-geist-mono: 'Geist Mono' monospace;
}

body {
  font-family: var(--font-geist-sans);
  background-color: #f1bd55; /* set background to yellow */
}

.cat-list {
  display: grid;
  gap: 16px;
}

/* on desktop, 3 images will be show on per row */
@media (min-width: 1024px) {
  .cat-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* on tablets, 2 images will be show on per row */
@media (min-width: 600px) and (max-width: 1023px) {
  .cat-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* on phones, 1 images will be shown per row */
@media (max-width: 599px) {
  .cat-list {
    grid-template-columns: 1fr;
  }
}